@page "/"

@inject AuthStateService AuthStateService

<PageTitle>Home</PageTitle>

<h1>Hello, @(string.IsNullOrEmpty(AuthStateService.UserName) ? "world" : AuthStateService.UserName)!</h1>

Welcome to your new app.


@code{
	protected override void OnInitialized()
	{
		AuthStateService.AuthStateChanged += StateHasChanged;
	}
}