@inherits LayoutComponentBase

@inject AuthStateService AuthStateService
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    @if (!isInitialized)
    {
        <p>initializing AuthState...</p>
    }
    else
    {

        <main>
            <div class="top-row px-4">
                @if (AuthStateService.IsLoggedIn)
                {

                    <p class="mt-2 m-2">Logged in as: @AuthStateService.UserName </p>
                    <button @onclick="Logout">Logout</button>

                }
                else
                {
                    <button @onclick="Login">Login</button>
                }

                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    }
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private bool hasRendered = false;
    private bool isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !hasRendered)
        {
            await AuthStateService.InitializeAuthState();
            hasRendered = true;
            isInitialized = true;

            StateHasChanged();
        }
        AuthStateService.AuthStateChanged += StateHasChanged;
    }

    private async Task Logout()
    {
        await AuthStateService.Logout();
        NavManager.NavigateTo("/login");
    }

    private void Login()
    {
        NavManager.NavigateTo("/login");
    }
}